body {
    background-color: #e6e600;
}

h1 {
    color: red;
    text-align: center;
    text-shadow: 2px 2px 2px black;
        
}

p {
    color: darkcyan;
}

.second {
    color: orange;
}

#special {
    color: greenyellow;
    background-color: red;
    border: solid greenyellow;
}